html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url(https://i.pinimg.com/originals/f4/b6/16/f4b616bd9ec9ce6f6b4193d7e2317161.jpg);
    background-size: cover;
}